.command{
    -fx-text-alignment: center;
    -fx-background-color: #bdf9ff;
    -fx-border-radius: 4;
    -fx-font-size: 18;
    -fx-border-color: #575757;
}
.command:hover{
    -fx-background-color: #4bc1cd;
}
.root{
    -fx-background-color: white;
}
.info-grid{
    -fx-text-alignment: center;
    -fx-font-size: 16;
}